/* You can add global styles to this file, and also import other style files */

$primary: #30546A;
$primary-light: #889DBB;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
  background-color: $primary-light;
  height: 100%;
}
